.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.wrap {
    border: 2px, solid, darkslateblue;
    border-radius: 20px;
    color: rgb(44, 43, 43);
    margin-top: 100px;
    padding: 20px;
}

.areaContent {
    height: 150px;
}