@import 'fonts';
@import 'style';
@import 'header';
@import 'feedback-section';
@import 'footer'; 

h2 {
    color: #292F36;
    font-family: 'DM Serif Display';
    font-size: 3.125rem;
    font-weight: 400;
    line-height: 125%; /* 3.90625rem */
    letter-spacing: 0.0625rem;
}

// Main banner section
.about-us-section {
    margin-top: 170px;
    .banner-wrap {
        background-color: #372410;
        margin-bottom: 133px;
        h1 {
            color: #FFF;
            text-align: center;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            font-family: 'DM Serif Display';
            font-size: 4.375rem;
            font-weight: 400;
            line-height: 125%; /* 5.46875rem */
            padding: 188px 0 80px;
        }
    }
    .owner-comment {
        width: min(90%, 751px);
        margin: 0 auto 134px;
        position: relative;
        &::before {
            content: '';
            height: 205px;
            position: absolute;
            border-right: 2px solid black;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            height: 205px;
            position: absolute;
            border-right: 2px solid black;
            top: 0;
            right: 0;
        }
        p {
            color: #292F36;
            text-align: center;
            font-family: 'DM Serif Text';
            font-size: 2.1875rem;
            line-height: 125%; /* 2.73438rem */
            letter-spacing: 0.04375rem;
            margin: 0 auto 34px;
        }
        .owner-name {
            color: #4D5053;
            text-align: center;
            font-family: 'Jost';
            font-size: 1.5625rem;
            line-height: 150%; /* 2.34375rem */
            letter-spacing: 0.01563rem;
        }
    }
}

// What We Do & The End Result
.concept-portfolio-section {
    margin-bottom: 206px;
    .flex-reverse-wrap {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        margin-bottom: 180px;
        .img-wrap {
            img {
                border-top-left-radius: 130px;
                height: 100%;
            }
        }
    }
    .flex-wrap {
        display: flex;
        gap: 40px;
        .img-wrap {
            img {
                border-top-right-radius: 130px;
                height: 100%;
            }
        }
    }
    .img-wrap {
        width: min(90%, 718px);
        height: 500px;
    }
    .info-wrap {
        width: min(90%, 452px);
        h2 {
            padding-top: 83px;
            margin-bottom: 23px;
        }
        p {
            color: #4D5053;
            font-family: 'Jost';
            font-size: 1.375rem;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin-bottom: 41px;
        }
        .link-wrap {
            width: 220px;
            height: 75px;
            border-radius: 18px;
            background: #292F36;
            box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
            position: relative;
            a {
                width: 100%;
                height: 100%;
                color: white;
                color: #FFF;
                font-family: 'Jost';
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 125%; /* 1.40625rem */
                letter-spacing: 0.0225rem;
                padding: 26px 0 0 40px;
                &::before {
                    content: '';
                    width: 11px;
                    height: 11px;
                    border-right: 2px solid white;
                    border-bottom: 2px solid white;
                    border-bottom-right-radius: 10%;
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 31px;
                    right: 40px;
                }
                &::after {
                    content: '';
                    width: 17px;
                    border-bottom: 2px solid white;
                    position: absolute;
                    top: 36px;
                    right: 39px;
                }
            }
        }
    }
}

// Productive talk form
.productive-wrap {
    margin-bottom: 180px;
    h2 {
        width: min(90%, 635px);
        text-align: center;
        margin: 0 auto 98px;
    }
    .name-email-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .field {
        color: black;
        font-family: 'Jost';
        font-size: 1.875rem;
        line-height: 150%; /* 2.8125rem */
        letter-spacing: 0.01875rem;
        position: relative;
        input {
            appearance: none;
            border: none;
            outline: none;
            font: inherit;
            background-color: transparent;
            border-bottom: 1px solid black;
            width: 100%;
            &:focus, &:valid {
                +label {
                    top: -40px;
                }
            }
        }
        label {
            color: #4D5053;
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 0;
            transition: all ease .3s;
        }
        
    }
    .name-area, .email-area {
        width: min(100%, 472px);
    }
    .text-area {
        width: 100%;
        margin-bottom: 51px;
    }
    .btn-wrap {
        margin-inline: auto;
        width: 220px;
        height: 75px;
        button {
            width: 100%;
            height: 100%;
            border-radius: 18px;
            background: #292F36;
            box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
            color: #FFF;
            font-family: 'Jost';
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 125%; /* 1.40625rem */
            letter-spacing: 0.0225rem;
            padding-right: 20px;
            position: relative;
            &::before {
                content: '';
                width: 11px;
                height: 11px;
                border-right: 2px solid #CDA274;;
                border-bottom: 2px solid #CDA274;;
                border-bottom-right-radius: 10%;
                transform: rotate(-45deg);
                position: absolute;
                top: 32px;
                right: 50px;
            }
            &::after {
                content: '';
                width: 17px;
                border-bottom: 2px solid #CDA274;;
                position: absolute;
                top: 37px;
                right: 49px;
            }
            &:hover {
                background-color: #784e21;
                cursor: pointer;
            }
        }
    }
}