@import 'fonts';
@import 'style';
@import 'join-section'; 

// First screen
.first-screen-section {
    margin: 258px 0 95px;
    .container {
        background-color: bisque;
        padding: 73px 0 345px;
        background-image: url(../img/first-screen-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 280%;
        background-position: 0 -685px;
        border-radius: 100px 0;
        h1 {
            width: min(90%, 699px);
            margin: 0 0 9px 25px;
            color: #FFF;
            font-family: 'DM Serif Display';
            font-size: 4.0625rem;
            font-weight: 400;
            line-height: 125%; /* 5.07813rem */
        }
        p {
            width: min(60%, 470px);
            color: #FFF;
            font-family: 'Inter';
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin: 0 0 28px 25px;
        }
        .btn-wrap {
            width: 227px;
            height: 75px;
            margin-left: 25px;
            button {
                color: #FFF;
                font-family: 'Inter';
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 125%; /* 1.40625rem */
                letter-spacing: 0.0225rem;
                width: 100%;
                height: 100%;
                background: #CDA274;
                border-radius: 18px;
                box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
                padding-right: 25px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    border-bottom: 2px solid white;
                    top: 37px;
                    right: 49px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid white;
                    border-right: 2px solid white;
                    border-bottom-right-radius: 10%;
                    transform: rotate(-45deg);
                    top: 33px;
                    right: 49px;
                }
                &:hover {
                    background: #8d6e4e;
                }
            }
        }
    }
}

// Steps information
.steps-flex {
    display: flex;
    padding: 0 26px;
    justify-content: space-between;
    margin-bottom: 154px;
    .step-wrap {
        width: min(30%, 358px);
        h5 {
            color: #292F36;
            text-align: center;
            font-family: 'DM Serif Display';
            font-size: 1.5625rem;
            font-weight: 400;
            line-height: 125%; /* 1.95313rem */
            margin-bottom: 20px;
        }
        p {
            color: #4D5053;
            text-align: center;
            font-family: 'Jost';
            font-size: 1.375rem;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin-bottom: 52px;
        }
        .read-more {
            text-align: center;
            padding-right: 27px;
            position: relative;
            a {
                color: #4D5053;
                font-family: 'Jost';
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 125%; /* 1.40625rem */
                letter-spacing: 0.0225rem;
                &::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    border-bottom: 2px solid black;
                    top: 12px;
                    right: 115px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    border-bottom-right-radius: 10%;
                    transform: rotate(-45deg);
                    top: 7.8px;
                    right: 115px;
                }
                &:hover {
                    color: #C76904;
                }
            }
        }
    }
}

// Creating art
.art-flex {
    position: relative;
    color: #FFF;
    margin-bottom: 194px;
    .art-left {
        background-color: #32829c;
        background-image: url(../img/creating-art-left.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -200px 0;
        width: min(70%, 733px);
        border-right: 80px solid white;
        border-top-right-radius: 250px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        padding: 142px 25px 0;
        h3 {
            width: min(70%, 368px);
            font-family: 'DM Serif Display';
            font-size: 3.4375rem;
            font-weight: 400;
            line-height: 125%; /* 4.29688rem */
            margin-bottom: 20px;
        }
        p {
            width: min(70%, 324px);
            font-family: 'Jost';
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin-bottom: 34px;
        }
        .call-wrap {
            margin-left: 108px;
            color: #FFF;
            font-family: 'Jost';
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            position: relative;
            margin-bottom: 58px;
            .call-icon {
                width: 93px;
                height: 93px;
                position: absolute;
                background-color: #fff;
                border-radius: 50%;
                left: -108px;
                top: -10px;
                &:hover {
                    background-color: #8d6e4e;
                }
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 32px;
                    }
                }
            }
            .phone-num {
                a {
                    color: #FFF;
                    font-family: 'Jost';
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 150%; /* 2.25rem */
                    letter-spacing: 0.015rem;
                    &:hover {
                        color: #8d6e4e;
                    }
                }
            }
        }
        .btn-wrap {
            width: 247px;
            height: 75px;
            margin-bottom: 66px;
            button {
                color: #FFF;
                font-family: 'Inter';
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 125%; /* 1.40625rem */
                letter-spacing: 0.0225rem;
                width: 100%;
                height: 100%;
                background: #CDA274;
                border-radius: 18px;
                box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
                padding-right: 30px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    border-bottom: 2px solid white;
                    top: 37px;
                    right: 29px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-bottom: 2px solid white;
                    border-right: 2px solid white;
                    border-bottom-right-radius: 10%;
                    transform: rotate(-45deg);
                    top: 33px;
                    right: 29px;
                }
                &:hover {
                    background: #8d6e4e;
                }
            }
        }
    }
    .art-right {
        background-color: bisque;
        background-image: url(../img/creating-art-right.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 78%;
        margin-left: auto;
        min-height: 700px;
    }
}