@import 'fonts';
@import 'style';

// First screen
.first-screen-section {
    margin: 258px 0 95px;
    .container {
        background-color: bisque;
        padding: 73px 0 345px;
        background-image: url(../img/first-screen-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 280%;
        background-position: 0 -685px;
        border-radius: 100px 0;
        h1 {
            width: min(90%, 699px);
            margin: 0 0 9px 25px;
            color: #FFF;
            font-family: 'DM Serif Display';
            font-size: 4.0625rem;
            font-weight: 400;
            line-height: 125%; /* 5.07813rem */
        }
        p {
            width: min(60%, 470px);
            color: #FFF;
            font-family: 'Inter';
            font-size: 1.375rem;
            font-weight: 500;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin: 0 0 28px 25px;
        }
        .btn-wrap {
            width: 227px;
            height: 75px;
            margin-left: 25px;
            button {
                color: #FFF;
                text-align: center;
                font-family: 'Inter';
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 125%; /* 1.40625rem */
                letter-spacing: 0.0225rem;
                width: 100%;
                height: 100%;
                background: #CDA274;
                border-radius: 18px;
                box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
            }
        }
    }
}