.join-section {
    padding: 80px 0 176px;
    background-color: bisque;
    background-image: url(../img/join-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
        color: #FFF;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 3.125rem;
        font-weight: 400;
        line-height: 125%; /* 3.90625rem */
        margin-bottom: 11px;
    }
    p {
        color: #FFF;
        text-align: center;
        font-family: 'Jost';
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 150%; /* 2.0625rem */
        letter-spacing: 0.01375rem;
        margin-bottom: 32px;
    }
    .contact-us {
        width: 237px;
        height: 75px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        background: #CDA274;
        box-shadow: 0 10px 20px 0 #1F2022;
        a {
            color: #FFF;
            font-family: 'Jost';
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 125%; /* 1.40625rem */
            letter-spacing: 0.0225rem;
        }
    }
}