@import 'fonts';
@import 'style';
@import 'header';
@import 'join-section';
@import 'footer'; 

// Services banner
.services-banner {
    margin-top: 170px;
    background-color: #073007;
    padding: 178px 0 90px;
    background-image: url(../img/services-first-bg.jpg);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: -160px 0;
    margin-bottom: 193px;
    h1 {
        color: #FFF;
        text-align: center;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'DM Serif Display';
        font-size: 4.375rem;
        font-weight: 400;
        line-height: 125%; /* 5.46875rem */
    }
}

// Services steps
.services-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 88px 42px;
    margin-bottom: 193px;
    .step-card {
        width: min(90%, 358px);
        .step-title {
            color: #292F36;
            text-align: center;
            font-family: 'DM Serif Display';
            font-size: 1.5625rem;
            line-height: 125%; /* 1.95313rem */
            margin-bottom: 20px;
        }
        p {
            color: #000;
            text-align: center;
            font-family: 'Jost';
            font-size: 1.375rem;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin-bottom: 52px;
        }
        .step-link {
            text-align: center;
            padding-right: 27px;
            position: relative;
            a {
                color: #000;
                font-family: 'Jost';
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 125%; /* 1.40625rem */
                letter-spacing: 0.0225rem;
                &::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    border-bottom: 2px solid black;
                    top: 12px;
                    right: 115px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    border-bottom-right-radius: 10%;
                    transform: rotate(-45deg);
                    top: 7.9px;
                    right: 116px;
                }
                &:hover {
                    color: #C76904;
                }
            }
        }
    }
}

// How We Work
.how-we-work-section {
    h2 {
        color: #363B41;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 3.125rem;
        font-weight: 400;
        line-height: 125%; /* 3.90625rem */
    }
    p {
        width: min(100%, 802px);
        color: #4D5053;
        text-align: center;
        font-family: 'Jost';
        font-size: 1.375rem;
        line-height: 150%; /* 2.0625rem */
        letter-spacing: 0.01375rem;
        margin: 0 auto 156px;
    }
    .working-steps {
        .step-card {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            .img-wrap {
                img {
                    width: 625px;
                    height: 485px;
                    border-radius: 0 300px 0 400px;
                }
            }
            .info-wrap {
                width: min(50%, 456px);
                .number {
                    color: #C76904;
                    font-family: 'DM Serif Display';
                    font-size: 5.625rem;
                    line-height: 150%; /* 8.4375rem */
                    letter-spacing: 0.05625rem;
                    text-align: right;
                    margin-bottom: 151px;
                }
                .step-title {
                    color: #292F36;
                    font-family: 'DM Serif Display';
                    font-size: 2.1875rem;
                    line-height: 125%; /* 2.73438rem */
                    margin-bottom: 11px;
                }
                p {
                    color: #4D5053;
                    font-family: 'Jost';
                    text-align: left;
                    font-size: 1.375rem;
                    line-height: 150%; /* 2.0625rem */
                    letter-spacing: 0.01375rem;
                }
            }
        }
        .flex-reverse {
            flex-direction: row-reverse;
            .img-wrap {
                img {
                    border-radius: 300px 0 400px 0;
                }
            }
            .info-wrap {
                .number {
                    text-align: left;
                }
            }
        }
    }
}