@import 'fonts';

// General
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    object-fit: cover;
}

button, a {
    transition: all .2s ease;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

.container {
    width: min(90%, 1210px);
    margin-inline: auto;
}

main {
    flex-grow: 1;
}

// Header
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255,);
    .header-wrap {
        display: flex;
        justify-content: space-between;
        padding: 54px 0 66px;
        .logo-wrap {
            width: 227px;
            height: 50px;
        }
        .nav-wrap {
            padding-top: 17px;
            ul {
                display: flex;
                gap: 48px;
                li {
                    a {
                        color: #292F36;
                        font-family: 'Jost';
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 125%; /* 1.5625rem */
                        &:hover {
                            color: #C76904;
                        }
                    }
                }
            }
        }
    }
}