@import 'fonts';

// General
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    object-fit: cover;
}

button, a {
    transition: all .2s ease;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

.container {
    width: min(90%, 1210px);
    margin-inline: auto;
}

main {
    flex-grow: 1;
}

.logo-wrap {
    width: 227px;
    height: 50px;
}

.text-capitalize {
    text-transform: capitalize;
}

// Header
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255,);
    .header-wrap {
        display: flex;
        justify-content: space-between;
        padding: 54px 0 66px;
        .nav-wrap {
            padding-top: 17px;
            ul {
                display: flex;
                gap: 48px;
                li {
                    a {
                        color: #292F36;
                        font-family: 'Jost';
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 125%; /* 1.5625rem */
                        &:hover {
                            color: #C76904;
                        }
                    }
                }
            }
        }
    }
}

// Footer
.footer-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    margin-bottom: 138px;
    .logo-media-wrap {
        width: min(35%, 393px);
        .logo-wrap {
            margin-bottom: 18px;
        }
        p {
            color: #4D5053;
            font-family: 'Jost';
            font-size: 1.375rem;
            line-height: 150%; /* 2.0625rem */
            letter-spacing: 0.01375rem;
            margin-bottom: 31px;
        }
        .social-media {
            ul {
                display: flex;
                gap: 54px;
                align-items: center;
                li {
                    a {
                        width: 18px;
                        &:hover {
                            // svg {
                            //     .media-icon {
                            //         fill: #C76904;
                            //     }
                            // }
                            opacity: .5;
                        }
                    }
                    .facebook {
                        width: 12px;
                    }
                    .twitter {
                        padding-top: 6px;
                    }
                    .instagram {
                        padding-top: 2px;
                    }
                }
            }
        }
    }
    .footer-list {
        li {
            a {
                color: #4D5053;
                font-family: 'Jost';
                font-size: 1.375rem;
                line-height: 300%; /* 4.125rem */
                letter-spacing: 0.01375rem;
                &:hover {
                    color: #C76904;
                }
            }
        }
    }
    .list-name a {
        color: #292F36;
        font-family: 'DM Serif Display';
        font-size: 1.5625rem;
        font-style: normal;
        line-height: 125%; /* 1.95313rem */
        margin-bottom: 9px;
        &:hover {
            color: #C76904;
        }
    }
    .contact {
        width: min(30%, 258px);
        .list-name{
            margin-bottom: 24px;
        }
        ul {
            .adress {
                color: #4D5053;
                font-family: 'Jost';
                font-size: 1.375rem;
                line-height: 150%; /* 2.0625rem */
                letter-spacing: 0.01375rem;
                margin-bottom: 14px;
            }
            li {
                a {
                    color: #4D5053;
                    font-family: 'Jost';
                    font-size: 1.375rem;
                    line-height: 300%; /* 4.125rem */
                    letter-spacing: 0.01375rem;
                    &:hover {
                        color: #C76904;
                    }
                }
            }
        }
    }
}
.copyright {
    color: #4D5053;
    font-family: 'Jost';
    font-size: 1.375rem;
    line-height: 150%; /* 2.0625rem */
    letter-spacing: 0.01375rem;
    width: min(90%, 229px);
    margin-inline: auto;
    margin-bottom: 15px;
}